

@fontColor: #259cf3;
@hoverColor : #259cf3;
@bgColor : #259cf3;
@borderBottomColor : #126fb2;
@tcBgColor: #d9f1fe;
@borderColor1 : #b9e1f6;
@bgColor1 : #1f96ff;
@inputBoxShadowColor: #7cb7f2;
@inputFocusColor: #7cb7f2;
@selectFontBlackColor: #444444;
@bgColorInput: #fdfdfd;
@width : 1.43rem;
@contWidth : 1.42rem;
